<form action="[% c.uri_for('form_upload_submit') %]" method="post" enctype="multipart/form-data">
  <p>
  <div class="mb-3">
    <input type="hidden" name="form_upload" value="yes">
    <label for="form_file" class="form-label">Bulk upload file</label>
    <input class="form-control" type="file" id="form_file" name="form_file">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
